.comment-container-top_intro-name {
  display: flex;
  flex-direction: row;
  width: 120%;
}

.comment-owner-info_name {
  font-weight: bold;
  text-transform: capitalize;
  margin-right: 3%;
  font-weight: 500;
}

.you-comment {
  font-weight: 300;
  margin-left: 3%;
  color: rgb(120, 120, 120);
}
