.comment-container-top_intro-name {
  display: flex;
  flex-direction: row;
  width: 120%;
  margin-bottom: 4%;
}

.comment-owner-info_name {
  font-weight: bold;
  text-transform: capitalize;
  margin-right: 3%;
  font-weight: 500;
}

.you-comment {
  font-weight: 300;
  margin-left: 3%;
  color: rgb(120, 120, 120);
}

.edit-textarea {
  font-size: 0.9rem;
  width: 100%;
  background-color: rgb(242, 242, 242);
  border: none;
  resize: none;
  outline: none;
}

.save-button,
.cancel-button {
  width: 30%;
  height: 30%;
  padding: 1.5%;
  border-radius: 20px;
  border: 1px solid;
  font-weight: 600;
  font-size: 0.85rem;
  cursor: pointer;
}

.save-button {
  margin-right: 1%;
  background-color: rgb(11, 101, 194);
  color: white;
}

.cancel-button {
  width: 20%;
  color: rgb(102, 102, 102);
}
