.user-profile-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 높은 z-index 값 설정 */
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 680.8px;
  max-height: 80%;
  z-index: 1001; /* 컨텐츠가 배경보다 위로 오도록 설정 */
}

.btn-img {
  border: 1px solid #eeece8;
  border-radius: 6px;
  background-color: #b7b7b7;
  color: white; /* 버튼 텍스트 색상을 하얀색으로 설정 */
  padding: 10px 20px; /* 버튼 내부 여백 설정 */
  font-size: 14px; /* 버튼 글자 크기 설정 */
  cursor: pointer; /* 마우스를 올리면 커서 모양 변경 */
}

label {
  display: block;
  color: #000000bf;
}
.modal-content h2 {
  margin-top: 0;
}

.modal-content button {
  display: block;
  margin-top: 10px;
}

.modal-content input {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.input-container {
  margin-top: 25px;
}

.input-container input {
  border-radius: 5px;
  border: 1px solid #000000bf;
}
