.user-profile-modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-content {
  position: fixed;
  width: 48%;
  height: 72%;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 10px;
  z-index: 1000;
}
