.overlays-post {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.post-modal-container {
  position: fixed;
  width: 48%;
  height: 66%;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 10px;
  z-index: 1000;
}

.top-name {
  font-weight: 500;
  font-size: 1.3rem;
}

.top-exit-icon {
  cursor: pointer;
  width: 20px;
}

.content-input {
  width: 100%;
  height: 20rem;
}

.content-input::placeholder {
  position: absolute;
  padding-top: 10px;
  top: 0;
  left: 0;
  margin-left: 5px;
  font-size: 1.25rem;
  color: rgb(86, 86, 86);
}
