.signin-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_logo-container {
  margin-right: 75rem;
  margin-top: 30px;
  width: 150px;
  height: 50px;
}

.main-logo {
  width: 125px;
  height: 35px;
}

.signin-main-container {
  width: 23rem;
  height: 32rem;
  border-radius: 10px;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1), 0px 5px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.signin-title {
  font-weight: 500;
  margin: 0;
  font-size: 2.2rem;
}

.signin-subtitle {
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 30px;
}

.signin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-email,
.input-password {
  width: 20rem;
  height: 2em;
  border-radius: 10px;
  border: 1px solid;
  margin-bottom: 15px;
  padding: 5px;
  font-size: 20px;
  background-color: rgb(231, 240, 254);
}

.span-forgot-password {
  margin-right: 14rem;
  margin-top: 10px;
  color: rgb(11, 101, 194);
  font-weight: 600;
}

.button-signin {
  margin-top: 30px;
  margin-bottom: 5px;
  width: 20rem;
  height: 3rem;
  border-radius: 20px;
  border: none;
  background-color: rgb(11, 101, 194);
  color: white;
  font-weight: 600;
  font-size: 1rem;
  padding: 5px;
}

.buttons-google-apple-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-google,
.button-apple {
  width: 20rem;
  height: 3rem;
  border-radius: 20px;
  border: 1px solid black;
  background-color: white;
  margin-bottom: 10px;
}

.button-google {
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.google-logo {
  width: 32px;
  height: 30px;
  margin-right: 8px;
}

.button-apple {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(102, 102, 102);
  display: flex;
  justify-content: center;
  align-items: center;
}

.apple-logo {
  width: 27px;
  height: 30px;
  margin-right: 8px;
}

.to-signup {
  margin-top: 30px;
  font-size: 1rem;
}

.join {
  color: rgb(11, 101, 194);
  font-weight: 600;
  cursor: pointer;
}

::placeholder {
  font-size: 15px;
}
