.Main {
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 76px - 50px);
  display: flex;
}
.Main-Section {
  max-width: 1128px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  padding-top: 40px;
  flex-wrap: nowrap;
  min-height: 560px;
}
.main-left {
  padding-right: 42px;
  align-self: flex-start;
  flex-shrink: 0;
  width: 55%;
  position: relative;
}
.Main-left_head {
  width: 650px;
  vertical-align: inherit;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 56px;
  font-weight: 200;
  color: #b24020;
}

.Main-left_body-divider-left-right {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 24px;
}

.Main-right img {
  width: 700px;
  height: 560px;
  display: block;
  z-index: -1;
  position: relative;
  flex-shrink: 1;
}

.google-button {
  width: 400px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.goole-button-1 {
  max-width: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.Main-bottom_form-input {
  margin-top: 20px;
}

.input-large {
  margin: 10px 0 10px 0;
  border: 1px solid black;
  border-radius: 5px;
  width: 410px;
  height: 45px;
}

.button-google {
  margin-top: 25px;
  width: 400px !important;
  height: 40px !important;
}

.forgot-pw {
  margin: 10px 0 20px 0;
  color: #0000ee;
}

.container {
  width: 400px;
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  margin-top: 30px;
  padding: 0px !important;
}

.line {
  flex: 1; /* 동적으로 너비 조절 */
  height: 1px;
  background-color: #d2d2d2; /* 가로줄 색상 */
}

.or-text {
  margin: 0 10px; /* or 텍스트 양쪽에 여백 추가 */
  color: #666; /* 텍스트 색상 */
}

.button-signin {
  margin: 5px 0 20px 0 !important;
  width: 410px !important;
}

.Main-footer {
  margin-left: 100px;
}
