.Main {
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 76px - 50px);
  display: flex;
}
.Main-Section {
  /* max-width: 75%; */
  padding-left: 0;
  padding-right: 0;
  position: relative;
  display: flex;
  width: 75%;
  align-items: center;
  padding-top: 1.5%;
  flex-wrap: nowrap;
  min-height: 60vh;
}

.Main-left {
  padding-right: 2.5%;
  align-self: flex-start;
  /* flex-shrink: 0; */
  width: 50%;
  position: relative;
}

.Main-left_body {
  width: 75%;
}

.Main-left_head {
  width: 100%;
  vertical-align: inherit;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 410%;
  font-weight: 200;
  color: #b24020;
}
.Main-left_body-divider-left-right {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 2%;
}
.Main-right {
  width: 50%;
  margin-bottom: 10%;
}

.Main-right img {
  width: 120%;
  display: block;
  z-index: -1;
  position: relative;
  flex-shrink: 1;
}

.google-button {
  width: 110%;
  margin-top: 2%;
  margin-bottom: 5%;
}
/* 이버튼은 뭐지? */
.goole-button-1 {
  max-width: 25rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/*  */

.Main-bottom_form-input {
  margin-top: 3%;
}

.input-large {
  margin: 2% 0 2% 0;
  border: 1px solid black;
  border-radius: 5px;
  width: 97%;
  height: 45px;
}

.button-google-first {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 90%;
  height: 3rem;
  border-radius: 20px;
  border: 1px solid black;
  background-color: white;
  margin: 20px 0 0 0;
}

.forgot-pw {
  margin: 2% 0 4% 0;
  color: #0000ee;
}

.container-first {
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  margin-top: 5%;
  width: 100% !important;
}

.line {
  flex: 1; /*동적으로 너비 조절*/
  height: 1px;
  background-color: #d2d2d2; /* 가로줄 색상 */
}

.or-text {
  margin: 0 2%; /* or 텍스트 양쪽에 여백 추가 */
  color: #666; /* 텍스트 색상 */
}

.button-signin-first {
  margin: 2% 0 4% 0;
  width: 98%;
  height: 50px;
  background-color: #0966c2;
  color: white;
  font-size: 17px;
  border: 0px;
  border-radius: 30px;
  cursor: pointer;
}

.button-signin-first :hover {
  background-color: #004081;
}

.Main-footer {
  margin-left: 15%;
}
