.NavBar {
  padding-top: 12px;
  padding-bottom: 16px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  position: relative;
  margin: auto;
  max-width: 1128px;
}

.NavBar-logo img {
  width: 108px;
  height: auto;
}

.NavBar-menu {
  padding-top: 0px;
  overflow-x: auto;
  justify-content: flex-start;
  align-items: center;
  width: max-content;
  display: flex;
  margin-left: auto;
  order: 3;
}

.NavBar-menu_pages {
  display: flex;
  justify-content: center;
  align-items: center;
}
.NavBar-menu_pages-icons {
  width: 80px;
}

.NavBar-menu_pages-icons-click {
  justify-content: cente;
  align-items: center;
  flex-direction: column;
  display: flex;
  opacity: 0.6;
}

.NavBar-menu_pages-icons-click img {
  justify-content: center;
  flex-shrink: 0;
  display: flex;
  width: 24px;
  height: 24px;
}

.NavBar-menu_font {
  line-height: 1.25;
  font-weight: 400;
  font-size: 12px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

.NavBar-menu_click {
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-shrink: 0;
  min-width: 100px;
  display: flex;
  order: 3;
}

.NavBar-menu_click-box {
  text-decoration: none;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 1.25;
  font-weight: 700;
}

.NavBar-menu_click-box1 {
  color: black;
  border-radius: 30px;
  text-decoration: none;
  padding: 14px 24px 14px 24px;
  opacity: 0.8;
  margin-right: 8px;
}
.NavBar-menu_click-box2 {
  border: 1px solid #2778c9;
  border-radius: 30px;
  color: #2778c9;
  text-decoration: none;

  padding: 14px 24px 14px 24px;
}

.line {
  margin: 0px;
  padding: 0px;
  width: 1px;
  height: 42px;
  background-color: #b2b2b2;
}

.NavBar-menu_pages-icons-click:hover {
  opacity: 1;
  cursor: pointer;
}

.NavBar-menu_click-box1:hover {
  background-color: #f5f5f5;
}

.NavBar-menu_click-box2:hover {
  background-color: #f0f7fe;
}
