.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 242, 240);
  width: 100vw;
  margin: 0;
}
.main-container {
  width: 70%;
}

.main-logo--container {
  margin-top: 3%;
  cursor: pointer;
}

.main-logo--container img {
  width: 15%;
  height: auto;
}

.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
}

.container-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.consent-signup-container {
  display: flex;
  justify-self: center;
  align-items: center;
  background-color: white;
  width: 60%;
  height: auto;
  margin: 0 39% 0 39%;
  padding: 2% 2% 2% 2%;
  border-radius: 10px;
}

.container-signup {
  padding-top: 0;
}

.main-subtitle {
  font-weight: 500;
  font-size: 25px;
}

.hightlight {
  color: rgb(11, 101, 194);
  font-weight: 500;
}

.consent-understanding {
  text-align: left !important;
  font-size: 15px;
  letter-spacing: 0.5px;
  margin: 2% 5% 2% 0;
  color: rgb(133, 133, 133);
  text-align: center;
}

.agree-all-terms--label {
  font-size: 1.2rem;
}
.term1-term2--container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
  padding: 10px;
  background-color: rgb(249, 250, 251);
}

.further-information,
.bottom-agree {
  font-size: 0.8rem;
  color: rgb(120, 120, 120);
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.email-container,
.password-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: 400;
}

.email,
.password {
  height: 25px;
  margin-top: 5px;
}

.agree-join--button {
  width: 20rem;
  height: 50px;
  border-radius: 30px;
  border: none;
  background-color: rgb(11, 101, 194);
  color: white;
  font-size: 1rem;
  margin-left: 60px;
  margin-bottom: 20px;
  cursor: pointer;
}

.google-login-button--container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.or-span {
  margin-left: 47%;
}

.google-login-button {
  margin-top: 20px;
  width: 20rem;
  height: 45px;
  margin-left: 60px;
  border-radius: 30px;
  border-width: 1px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.already {
  margin-left: 120px;
  margin-top: 30px;
}

.bottom-get-help {
  margin: 20px 400px 5px 450px;
}
